body, html {
  padding:0;
  margin:0;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("passiflora.JPG");
  height: 100%;
  margin:0;
  padding:0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  #arrow-left {
    height:0;
    width: 5em;
    padding:0;
    left: 1%;
    margin-top: 50%;
    border-top: 3em solid transparent;
    border-right: 5em solid white;
    border-bottom: 3em solid transparent;
    cursor: pointer;
  }

  #arrow-right {
    height:0;
    width: 5em;
    padding:0;
    right: 1%;
    margin-top: 50%;
    border-top: 3em solid transparent;
    border-left: 5em solid white;
    border-bottom: 3em solid transparent;
    cursor: pointer;
  }
}
