#main {
  font-size: 1.5em;
}

.listContainer {
  display: flex;
  flex-direction: column;
  background-color: pink;
  height: auto;
  padding: 1em;
}

.listRow {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  height: auto;
  padding: 1em;
  margin: 0.5em auto;
}
