#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

#addItemForm {
  display: flex;
  flex-direction: row;
  margin: 0.5em auto;
  padding: 1em;
}

#addItemForm > input {
  font-size: 1.2em;
}

.listContainer {
  display: flex;
  flex-direction: column;
  background-color: pink;
  height: auto;
  padding: 0.5em;
  margin-bottom: 1em;
}

.listRow {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  height: auto;
  padding: 0.5em 1em;
  margin: 0.1em auto;
}
