body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  margin: auto;
  background-color: #B4D1B6;
  font-family: 'IBM Plex Serif', serif;
  color: #000000;
}

#formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: auto;
  width: 60%;
  margin: auto;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border-radius: 10px;
}

#formBox > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

#formBox > form > select {
  width: 25%;
  margin: 0.1em auto;
  padding: 0.2em;
}

#formBox > form > input {
  margin: 0.1em 0;
  padding: 0.2em;
}

#formBox > form > button {
  width: 40%;
  margin: 0.5em auto;
  padding: 0.2em;
}

#listBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  background-color: white;
  min-height: 60vh;
  height: auto;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  width: 100%;
  margin: 0.1em auto;
  font-size: 1em;
  padding: 0.5em 1em;
}

.headers {
  background-color: #7c9c87;
}

.column {
  margin: 0.2em 0;
  /*background-color: blue;*/
  width: 33%;
}

.id, .delete {
  width: 2%;
}

.type {
  width: 5%;
}

.title {
  width: 55%;
}

.author {
  width: 30%;
}
