{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{% static 'searchapp/sass/search.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet">
    <title>Search App</title>
</head>
<body>
  <div id="main" class="container-fluid">
    <nav class="navbar navbar-inverse navbar-toggleable-md">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      				<span class="sr-only">Toggle navigation</span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
              <span class="icon-bar"></span>
      		</button>
          <h1 class="navbar-brand mb-0"><a href="{% url 'base' %}"><b>MyLittleSearchApp</b></a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    			<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="{% url 'index' %}">View all publications</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Poems</a></li>
          </ul>
        </li>
    				<li><a href=# target="_blank" >About</a></li>
    				<li><a href=# target="_blank" >Contact</a></li>
            <li><div class="glyphicon glyphicon-search"></div></li>
    			</ul>
    		</div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </div>
<footer>
  <small>&copy;
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    &nbsp;Polina Jastrzebska</small>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'searchapp/js/search.js' %}"></script>
<!-- Bootstrap latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
