{% extends 'searchapp/base.html' %}
{% load static %}

{% block content %}
<!--All articles / articles thumbnails container-->
<div class="container" id="textspace">
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'start' %}">home</a>&nbsp;/&nbsp;<a href="{% url 'index' %}">all posts</a>
      {% if articles %}
      {% for a in articles %}
        <div class="panel-body">
          <div class="media">
            {% if a.img %}
            <div class="pic media-left">
              <img class="media-object" src="/media/{{ a.img.url }}" alt="Article image"/>
            </div>
            {% endif %}
            <div class="media-body">
              <h3>{{ a.title }}</h3>
              <h6>{{ a.date }}</h6>
              <h6>Category:&nbsp;{{ a.category }}</h6>
              <h5>{{ a.body|striptags|safe|truncatechars:350 }}<a href="{% url 'article' a.slug %}">&nbsp;Continue reading >>></a></h5>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <h4>Oops! There are no articles in this category.</h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
