{% extends 'searchapp/base.html' %}
{% load static %}

{% block content %}
<!--Articles container-->
<div class="container" id="textspace">
  <div class="row">
    <div class="col-md-12">
      {% for a in articles %}
        <div class="panel-body">
          <div class="media">
            {% if a.img %}
            <div class="media-left">
              <img class="media-object" src="media/{{ a.img }}" alt="Article image">
            </div>
            {% endif %}
            <div class="media-body">
              <h3>{{ a.title }}</h3>
              <h6>{{ a.date }}</h6>
              <h6>Category:&nbsp;{{ a.category }}</h6>
              <h5>{{ a.body|striptags|safe|truncatechars:350 }}<a href="#">&nbsp;Continue reading >>></a></h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
