{% extends 'searchapp/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<!--Search container-->

<div class="container" id="textspace">
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'start' %}">home</a>&nbsp;/&nbsp;<a href="{% url 'search' %}">search</a>

      <!--Search Tab-->
      <div class="search col-lg-10 col-lg-offset-1 col-xs-12">
        <form id="search" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <input class="form-control" placeholder="Start typing..." name="srchterm" id="ed-srch-term" type="text" value="{{ request.POST.srchterm }}">
            <div class="input-group-btn">
              <button type="submit" id="searchbtn">search</button>
            </div>
          </div>
        </form>

        <div id="result">
          <!--Show error message if no results found-->
          {% if messages %}
            {% for message in messages %}
              <h4>{{ message|safe }}</h4>
            {% endfor %}
          {% endif %}

          {% if qs %}
          {% for a in qs %}
          <div class="panel-body">
            <div class="media">
              {% if a.img %}
              <div class="pic media-left">
                <img class="media-object" src="{{ a.img.url }}" alt="Article image">
              </div>
              {% endif %}
              <div class="media-body">
                <h3>{{ a.title|highlight:request.POST.srchterm }}</h3>
                <h6>{{ a.date|highlight:request.POST.srchterm }}</h6>
                <h6>Category:&nbsp;{{ a.category|highlight:request.POST.srchterm }}</h6>
                <h5>{{ a.body|striptags|safe|truncatechars:350|highlight:request.POST.srchterm }}<a href="{% url 'article' a.slug %}">&nbsp;Continue reading >>></a></h5>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
