<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/site.js"></script>
  <title>Shopping List</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Shopping List API Demo</a>
        </div>
    </div>
    <div id="main" class="container">
      <form id="addItemForm" action="/api/v1.0/items" method="post">
        <input
          name="title"
          className="form-control input-lg"
          type="text"
          placeholder="Enter an item..."
          required
        />
        <input
          name="note"
          className="form-control input-lg"
          type="text"
          placeholder="Make a note...(optional)"
        />
        <button id="addItem" class="btn">+</button>
      </form>
      {% if items %}
      <div class="listContainer">
      {% for i in items %}
        <div class="listRow">
          {{i.title}}
          {% if i.note %}
            | <i>{{i.note}}</i>
          {% endif %}
        </div>
      {% endfor %}
      </div>
      {% else %}
        <h4>Your list is empty for now.</h4>
      {% endif %}
    </div>
</body>
</html>
