.albumSpace {
  /*background-color: pink;*/
  width: 100%;
}

.album {
  /*background-color: lightblue;*/
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;
}

.slideshow {
  background-color: grey;
}

.arrow {
  cursor: pointer;
  /*background-color: green;*/
  padding:0;
  margin:0;
}

.allImages {
  /*background-color: yellow;*/
}

.image {
  margin: 1em 0.15em;
  background-color: purple;
  padding:0;
  width: 180px;
}

img {
  object-fit: cover;
  border-radius: 10px;
}
