.albumSpace {
  /*background-color: pink;*/
  width: 100%;
}

.album {
  background-color: lightgrey;
  margin-top: 1em;
  border-radius: 10px;
}

.header {
  /*background-color: yellow;*/
  padding: 1em 2em;
}

.slideshow {
  display: flex;
  align-items: center;
  height: 100%;
}

.arrow {
  cursor: pointer;
  /*background-color: green;*/
  padding:0;
}

.allImages {
  /*background-color: yellow;*/
}

.image {
  margin: 1em 0.15em;
  background-color: purple;
  padding:0;
  width: 180px;
}

img {
  object-fit: cover;
  border-radius: 10px;
}
