.albumSpace {
  width: 100%;
  margin: 0 auto 1em auto;
}

.album {
  background-color: #f2d4c2;
  margin-top: 1em;
  border-radius: 10px;
  height: auto;

}

.header {
  padding: 1em 2em;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 1em;
  }

  .album {
    padding-left: 0;
    padding-right: 0;
  }

  h5, h6 {
    text-align: justify;
  }
}
