.slideshow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.arrow-right, .arrow-left {
  cursor: pointer;
  padding:0;
}

.faded-right, .faded-left {
  opacity: 0.4;
}

.albumimage {
  position: relative;
  margin: 1em 0.15em;
  padding:0;
  max-width: 180px;
  max-height: 120px;
  z-index: 0;
  object-fit: contain;
  border-radius: 5px;
}

@keyframes zoom {
  0% {
  }
  100% {
    transform: scale(1.1920);
    z-index: 2;
  }
}

.zoomed {
  animation: zoom 0.5s forwards;
}

@keyframes open {
  0% {
    z-index: 2;
  }
  100% {
    transform: scale(5);
    border-radius: 0;
    z-index: 2;
  }
}

.opened {
  animation: open 0.8s forwards;
}

.imgicon {
  position: absolute;
  top: 15%;
  right: 7%;
  cursor: pointer;
  z-index: 1;
}
