$color0: #ffffff;
$color1: #000000;
$color2: #535d84;
$color3: #d000d0;
$color4: #404040;
$color5: rgba(64, 64, 64, 0.3);

body, html {
  margin: 0;
  padding-top: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;

  a {
    color:inherit;
    &:hover {
      color:inherit;
    }
  }
}

.navbar {
  background: transparent;
  height: auto;
  border: none;
  border-radius: 0;
  padding: 1em 1em 0 1em;
  margin-bottom: 0;
  &:hover {
    background-color: $color5;
  }

  a {
    color:inherit;
    text-decoration: none;
    &:hover {
      color:inherit;
      text-decoration: none;
    }
  }

  h1.navbar-brand.mb-0 {
    color: $color3;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    text-shadow: 2px 2px $color1;
  }

  .navbar-right {
    font-size: 24px;

    li a {
      color: $color1;
      padding-right: 1em;
      &:hover {
        border-bottom: 3px solid $color3;
      }
    }

    .dropdown-menu {
      text-align: right;
      background-color: $color2;
      border-radius: 5px;

      li a {
        &:hover {
          background-color: green;
        }
      }
    }

    .glyphicon {
      padding: 0.5em;
      cursor: pointer;
      color: $color3;
      text-shadow: 2px 2px $color1;
      &:hover {
        transform: scale(1.5, 1.5);
      }
    }
  }
}

#main {
  height: 100%;
  margin:0;
  padding:0;
  background-image: url("../img/cannon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.col-md-12 {
  background-color: rgba(64, 64, 64, 0.9);
  height: 90vh;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.6em;
  border-radius: 5px;
  color: $color0;
  text-align: justify;
  font-size: 1.2em;
  overflow-y: auto;

  .panel-body {
    padding:0.5em;
  }

  .media {
    padding: 1em;
    border-radius: 5px;
    a {
      color: $color3;
    }

    .media-body {
      h3 {
      margin-top: 0;
      }
    }

    &:hover {
      background-color: darken($color5, 10%)
    }
  }

  .media-object {
    width: 12em;
    height: 8em;
    object-fit: cover;
  }
}

/* Single article page */

.article-container {
  color: $color0;
  padding: 0 1.5em;
  margin: 3em auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;

  div {
    text-align: justify;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
    margin-bottom: 2em;
  }

  h4 {
    text-align: left;
  }

  h5 {
    text-align: right;
  }
}

footer {
  background-color: $color2;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  color: $color1;
  small {
    margin:0;
    padding:0;
  }
}
